/*--- Welcome section ---*/

.welcome-section {
    background-color: #031383;
}

.title-welcome {
    margin-top: 8rem;
    margin-bottom: 1rem;
}

@media (max-width: 992px) {

    .welcome-section {
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media (max-width: 768px) {

    .title-welcome {
        margin-bottom: 2rem;
        font-size: 2rem;
    }

}

/*--- Features section ---*/

#section-features {
    padding-top: 2rem;
    padding-bottom: 8rem;
}

.card-style {
    padding: 2rem;
}

@media (max-width: 768px) {

    #section-features {
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    .card-style {
        border: none;
    }

}

/*--- Funding opportunities section ---*/

.table-text {
    padding-left: 0!important;
    font-family: 'Raleway', sans-serif;
}

.highlighted-text {
    background: linear-gradient(to right, #5481E4 0%, #37D0DD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

hr {
   border-top: 1px solid #191b1d;
}

/*--- Speakers section ---*/

#section-speakers {
    /*--- padding-top: 6rem; ---*/
    padding-bottom: 2rem;
}

.speakers-wrapper {
    padding-right: 30px;
    padding-left: 15px;
}

@media (max-width: 768px) {

    #section-speakers {
        /*--- padding-top: 4rem; ---*/
        padding-bottom: 0;
    }

    .speakers-wrapper {
        padding-right: 15px;
    }

    .card-title {
        font-size: 0.9rem;
    }

    .card-text {
        font-size: 0.8rem;
    }

}

@media (max-width: 576px) {

    .card-title {
        font-size: 0.7rem;
    }

    .card-text {
        font-size: 0.5rem;
    }

}

/*--- Experts sections ---*/

#section-experts {
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.experts-list-item {
    margin-bottom: 0.75rem;
    padding-left: 1.5rem;
    list-style: none;
    position: relative;
}

.experts-list-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    background: url(../content/img/check.svg);
}

@media (max-width: 768px) {

    #section-experts {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

}

/*--- Partners sections ---*/

#section-partners {
    padding-top: 3rem;
    padding-bottom: 8rem;
}

.slick-track{
    display: flex;
}

.slick-slide {
    margin-bottom: 1rem;
    padding-right: 1.5rem;
    outline: none;
    display: flex!important;
    height: auto;
    align-items: center;
    justify-content: center;
}

.logo-wrapper {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {

    #section-partners {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

}

/*--- FAQ sections ---*/

#section-faq {
    padding-top: 5rem;
    padding-bottom: 7rem;
    background-color: #fcfcfc;
}


@media (max-width: 768px) {

    #section-faq {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

#newsletter{
  width: inherit;
  border: 2px solid #f40654;
  height: 60px;
  color: white;
  background-color: #00008b;
  padding: 15px 25px;
}


.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}



#web {
  border-radius: 10px;
  background-color: #f40654;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 2px;
  width: 90px;
  transition: all 0s;
  cursor: pointer;
  margin: 5px;
}

#web:hover {
  background-color: #FF99CC;
  color: black;
}

#web span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

#web span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -17px;
  transition: 0s;
}

#web:hover span {
  padding-right: 20px;
}

#web:hover span:after {
  opacity: 1;
  right: 0;
}


.raise{
  background-color: inherit;
  border-radius: 10px;
  display: block;
  justify-content: space-around;
  margin: auto;
  color: white;
}

.raise:hover, .raise:focus {
  box-shadow: 2px 1px 10px 5px #00ffff;
  transform: translateY(-0.25em);
  border-radius: 10px;
}


.glow-on-hover {
    width: 102px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    color: black;
    display: flex;
    align-items: center;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    color: blue;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0.5;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: blue;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.glowhover {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 90px;
    color: white;
    height: 45px;
    width: 1100px;
    margin: inherit;
    vertical-align: middle;
    justify-content: space-around;
    padding: 10px;
}

.glowhover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    color: blue;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    height: inherit;
    width: inherit;
    margin: auto;
    animation: glowing 20s linear infinite;
    opacity: 0.3;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}


@media (max-width: 600px) {
    .glowhover {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .glowhover {
        width: 100%;
    }
}

.grow {
  background-color: #00008B;
  border-radius: 15px;
  box-shadow: 2px 1px 10px 5px #00ffff;
  margin: auto;
  height: auto;
  width: auto;
  color: white;
  text-align: center;
  vertical-align: baseline;
}

/* Create four equal columns that sits next to each other */
.gcolumn {
  display: inline-block;
  position: relative;
  max-width: 40%;
  padding: 10px 10px;
  margin: 10px 10px;
}

.gcolumn img {
  width: 80%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gcolumn {
    max-width: 40%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gcolumn  {
    max-width: 40%;
  }
}

.photoframe {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: #00008B;
  border-radius: 18px;
  box-shadow: 2px 1px 10px 5px white;
  margin: 10px 10px;
  padding: 30px;
}

/*----- Slider  -----*/
/* Slideshow container */
* {box-sizing: border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/9 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 0 2px;
  background-color: #f40654;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}



@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
