/*--- Welcome section ---*/

.welcome-section {
    background: #031383;
    color: #fff;
}

.title-welcome {   
    margin-top: 8rem;
    color: #fff;
}

.welcome-section-image {
    margin-top: 5rem;
}

@media (max-width: 768px) {


    .title-welcome {
        font-size: 2rem;
    }

    .welcome-section-image {
        margin-top: 3rem;
    }

}

/*--- Experts section ---*/

.speaker-name {
    font-size: 0.9rem;
}

.speaker-position {
    font-size: 0.8rem;
}

@media (max-width: 768px) {

    .speaker-name {
        font-size: 0.9rem;
    }

    .speaker-position {
        font-size: 0.8rem;
    }

}

@media (max-width: 576px) {

    .speaker-name {
        font-size: 0.78rem;
    }

    .speaker-position {
        font-size: 0.5rem;
    }

}