<div class="container">
  <div class="col-12">
    <h3>Frequently Asked Questions.</h3>
    <div class="title-border mt-3 mb-5"></div>
    <div class="row">
      <div class="col-12">
        <h6>
          <div
            class="fa fa-chevron-right rotate"
            onclick="toggleVisibility('q1');"
          >
            <button class="text-center w-3 btn h-8 shadow-sm" type="button">
              ➤
            </button>
          </div>
          Who can participate in an SU program?
        </h6>
        <div id="q1" style="display: none">
          <p>
            In SU programs can participate everyone from individuals to part of
            a team/company with a tech idea/product that can make an impact and
            scale globally. The SU programs are suitable for early-stage tech
            startups on the idea, pre-seed and seed round and open for every
            founder.
          </p>
        </div>

        <h6>
          <div
            class="fa fa-chevron-right rotate"
            onclick="toggleVisibility('q2');"
          >
            <button class="text-center w-3 btn h-8 shadow-sm" type="button">
              ➤
            </button>
          </div>
          What is the cost to participate in an SU program?
        </h6>
        <div id="q2" style="display: none">
          <p>
            There is no cost for the participating founders. The only thing
            required is your time and effort to take advantage of our programs
            to their fullest extent. Programs run completely free.
          </p>
        </div>

        <h6>
          <div
            class="fa fa-chevron-right rotate"
            onclick="toggleVisibility('q3');"
          >
            <button class="text-center w-3 btn h-8 shadow-sm" type="button">
              ➤
            </button>
          </div>
          What is the duration of the national programs, and where will they be
          hosted?
        </h6>
        <div id="q3" style="display: none">
          <p>
            All the national programs have a duration of 4 weeks, starting on
            March 2023. The programs will be hosted 100% at the Founderhood's
            platform.
          </p>
        </div>

        <h6>
          <div
            class="fa fa-chevron-right rotate"
            onclick="toggleVisibility('q4');"
          >
            <button class="text-center w-3 btn h-8 shadow-sm" type="button">
              ➤
            </button>
          </div>
          Is it possible for late-stage startups (growth-expansion-exit) to
          participate in the program?
        </h6>
        <div id="q4" style="display: none">
          <p>
            Yes, the Startup Universe is a 100% open initiative that tech
            startups on every stage could join - there is no selection process.
            We have seen that every startup has different needs, and we
            attempted to make our programs fully flexible so that startups can
            benefit from them.
          </p>
        </div>

        <h6>
          <div
            class="fa fa-chevron-right rotate"
            onclick="toggleVisibility('q5');"
          >
            <button class="text-center w-3 btn h-8 shadow-sm" type="button">
              ➤
            </button>
          </div>
          How many founders/tech startups can participate from each country? Is
          there a selection process?
        </h6>
        <div id="q5" style="display: none">
          <p>
            There is no limit to the number of participants in the national
            programs and no selection process for the participants who want to
            join. Since one of our main goals is to democratize innovation and
            access to resources for every founder, we organized the Startup
            Universe as a 100% online program open to everyone.
          </p>
        </div>

        <h6>
          <div
            class="fa fa-chevron-right rotate"
            onclick="toggleVisibility('q6');"
          >
            <button class="text-center w-3 btn h-8 shadow-sm" type="button">
              ➤
            </button>
          </div>
          What if I am interested in joining a country’s program, but I am come
          from/am based on a different country?
        </h6>
        <div id="q6" style="display: none">
          <p>
            If you can't find your country between the participating nations or
            you just want to participate on another national program you can
            register for any other national program. However keep in mind that
            most national programs take place using the native language.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
