<!-- To be copied across each <head /> tag -->

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="Startup Universe is a global initiative for startups which, through open online national programs, empowers early-stage startup founders leveraging the diaspora in tech networks!"
/>
<meta name="author" content="Startup Universe team" />
<meta property="og:url" content="https://thestartupuniverse.org" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Startup Universe" />
<meta property="og:site_name" content="Startup Universe" />
<meta
  property="og:description"
  content="Startup Universe is a global initiative for startups which, through open online national programs, empowers early-stage startup founders leveraging the diaspora in tech networks!"
/>
<meta property="og:image" content="content/img/facebook_open_graph.jpg" />
<title>Startup Universe</title>

<!-- Favicon-->
<link rel="shortcut icon" type="image/x-icon" href="content/img/favicon.ico" />

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/slick.css" />
