<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container" style="gap: 2rem">
    <a class="navbar-brand" href="index.html" style="min-width: 160px">
      <img
        src="content/img/SU white.png"
        width="auto"
        height="55px"
        alt="Startup Universe white logo"
      />
    </a>
    <button
      class="navbar-toggler navbar-toggler-left x collapsed"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" style="gap: inherit">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="about-program.html">National programs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="supporters.html">Supporters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="investors.html">Investors</a>
        </li>

        <li class="nav-item d-none">
          <a class="nav-link" href="bexpert.html">Ambassadors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="organizers.html">Organizers</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://medium.com/@startupuniverse"
            target="_blank"
            >Blog</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="contactus.html">Contact us</a>
        </li>
      </ul>
      <a
        class="nav-link"
        href="https://lnk.bio/startupuniverse"
        target="_blank"
      >
        <button
          class="text-nowrap btn mt-3 mt-md-0 my-2 my-sm-0 btn-call-to-action"
          type="button"
        >
          Register now
        </button>
      </a>
    </div>
  </div>
</nav>
